@import "base";
@import "coderay-github";
//@import "coderay-twilight";


@mixin letterpress($opacity){
  text-shadow:black($opacity) 0 1px 0;
}
@function black($opacity){
  @return rgba(0,0,0,$opacity)
}
@function white($opacity){
  @return rgba(255,255,255,$opacity)
}


#site-head {
  background-image: url(/images/cooking-cover.jpg);
}

.footnotes {
  font-size: 13px;
  line-height: 16px;
  color: #666;
  a[rel=reference] { text-decoration: none; }
  p { margin-bottom: 6px; }
}

.inner {
  width: 100%;
  max-width: inherit;
}

#site-head-content {
  h1.blog-title, h2.blog-description, nav{
    @include letterpress(0.5);
    a {
      color: #ffffff;
      text-decoration: none;
    }
    @media only screen and (min-width: 480px) {
    }
    @media only screen and (min-width: 768px) {
    }
    @media only screen and (min-width: 992px) {
    }
    margin: 2rem 0;
  }

  h1.blog-title{
    @media only screen and (min-width: 768px) {
      font-size: 9rem;
    }
  }
  h2.blog-description{
    @media only screen and (min-width: 768px) {
      font-size: 4rem;
    }
  }
  nav{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1rem;
    @media only screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }
}

.post-header {
  #blog-logo {
    background: #222;
    padding: 3rem;
    color: #fff;
    text-decoration: none;
  }
}


.post-excerpt {
  h2 {
    font-size: 2rem;
  }
}
