// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header hgroup{
	text-align: center;
}

body > header {
	h1 a, h1 a:visited, h1 a:hover {
		color: #222;
	}
	background: image-url('/images/content.png');
	h1 {
		float: left;
		margin-left: 30%;
	}
	h2 {
		float: left;
		margin-left: 20px;
		padding-left: 20px;
		margin-top: 20px;
		border-left: 1px solid #222;
		color: #555;
	}
}

@media screen and (max-device-width: 480px) {
	body > header {
		h1 {
			margin: 0 auto;
			float: none !important;
		}
		h2 {
			float: none !important;
			border: none;
			margin: 0 auto;
			padding: 10px;
		}
	}
}


ul.main-navigation{

	li a {
		color: #fff !important;
	}
	li a:visited {
		color: #fff;
	}
	li a:hover {
		color: #ccc;
	}
}

ul, ol {
	margin-left: 2em;
}

.tldr {
	background: #D9EDF7;
	border: 1px solid #BCE8F1;
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	@include border-radius(4px);
	.heading {
		font-weight: bold;
	}
	font-size: 0.8em;
	color: #3A87AD;
}

.code-title, html .gist .gist-file .gist-meta a[href*="#file"], h3.filename, figure.code figcaption {
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  text-shadow: #CBCCCC 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: #AAA url('/images/code_bg.png?1344028518') top repeat-x;
  border: 1px solid #565656;
  border-top-color: #CBCBCB;
  border-left-color: #A5A5A5;
  border-right-color: #A5A5A5;
  border-bottom: 0;
}

.code-title, html .gist .gist-file .gist-meta a[href*="#file"], h3.filename, figure.code figcaption {
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  text-shadow: #CBCCCC 0 1px 0;
  color: #474747;
  font-weight: normal;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
}

@import "footnote";
